.titulo {
    text-align: left;
}

h1 {
    color: white;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: .5px 1px;
}

.divContenido {
    position: relative;
    left: 25px;
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 10px;
    width: 300px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    display: inline-block;
    z-index: 1;
}

.imagen {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    display: block;
    z-index: 0;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px 35px;
    margin: 8px 6px;
    border-radius: 8px;
    border: none;
    position: relative;
    z-index: 10;
}

button:hover {
    border: solid 1px white;
    background-color: white;
    color: black;
}

