<hr>
    <div class="divBotones">
        <button [routerLink]="['/inicio']">
            <i class="uil uil-estate"></i> Inicio
        </button>

        <button [routerLink]="['/favoritos']">
            <i class="uil uil-star"></i> Favoritos
        </button>
    
        <button [routerLink]="['/series']">
            <i class="uil uil-tv-retro"></i> Series
        </button>
    
        <button [routerLink]="['/peliculas']">
            <i class="uil uil-film"></i> Películas
        </button>
    
        <button [routerLink]="['/configuracion']">
            <i class="uil uil-cog"></i> Configuración
        </button>
    
    </div>
