.titulo {
    text-align: left; // Alinea el contenido del elemento con clase 'titulo' a la izquierda.
}

h1 {
    color: white; // Establece el color del texto del encabezado h1 a blanco.
    border-radius: 4px; // Aplica bordes ligeramente redondeados al fondo del h1 (útil si se le asigna un background).
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; // Fuente moderna, con alternativas seguras por si la primera no está disponible.
    padding: .5px 1px; // Espaciado interno mínimo (0.5px arriba y abajo, 1px izquierda y derecha).
}

button {
    background-color: rgba(0, 0, 0, 0); // Fondo transparente.
    color: white; // Color del texto del botón.
    padding: 10px 35px; // Espaciado interno (vertical 10px, horizontal 35px).
    margin: 8px 6px; // Espacio exterior (vertical 8px, horizontal 6px).
    border-radius: 8px; // Bordes redondeados para los botones.
    border: none; // Sin borde por defecto.
    position: relative; // Necesario para aplicar `z-index` y mantener su posición en flujo.
    z-index: 10; // Asegura que los botones estén por encima de otros elementos si se superponen.
}

button:hover {
    border: solid 1px white; // Agrega un borde blanco al pasar el mouse.
    background-color: white; // Fondo blanco en hover.
    color: black; // Cambia el color del texto a negro en hover.
}

.divBotones {
    text-align: center; // Centra horizontalmente el contenido dentro del contenedor con clase 'divBotones'.
}