<div class="titulo">
    <h1>Bienvenido a Hubes: Inicia Sesión</h1>
</div>

<hr>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-group">
            <label for="correo">Correo</label>
            <input type="text" id="correo" formControlName="correo" placeholder="Tu correo" />
            <div *ngIf="correo?.invalid && correo?.touched" class="error">
            El correo es requerido.
            </div>
        </div>

        <div class="input-group">
            <label for="contra">Contraseña</label>
            <input type="password" id="contra" formControlName="contra" placeholder="Tu contraseña" />
            <div *ngIf="contra?.invalid && contra?.touched" class="error">
            La contraseña debe tener al menos 6 caracteres.
            </div>
        </div>

        <div class="divBotones">
            <button type="submit" [disabled]="loginForm.invalid">
            <i class="uil uil-signin"></i> Iniciar Sesión
            </button>
        </div>
    </form>
    
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
    
    <div class="links-secundarios">
        <a routerLink="/recuperar">¿Olvidaste tu contraseña?</a>
        <span>|</span>
        <a routerLink="/registro">Crear cuenta</a>
    </div>


